body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px 30px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
    text-align: center;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.results {
    margin-top: 20px;
}

.result-item {
    margin: 10px 0;
    font-size: 18px;
}

#fetching {
    color: #888;
    margin-bottom: 1rem;
}

#results h2 {
    margin-top: 1rem;
}